extends layout

block content
    h1.
        Champion List.
    table
        thead
          each championKey, i in championKeyList
            td #{championKey}
        tbody
          each championEntry, i in synergyEntries
            tr
              td #{championEntry.champion}
