extends layout

block content
    h1.
        Champion List.
    table
        thead
          td Champions
          each championKey, i in championKeyList
            td #{championKey}
        tbody
          each entry, i in synergyEntries[0]
            tr
              if i != '_id'
                td #{i}
                each winrate, i in entry
                  td #{winrate}
