extends layout

block content
	h1= title
	p Welcome to #{title}

	div.main-container-div
		div.container-div.ally-container
			each championKey, i in championKeyList
				div.champion-button
					div.champion-name #{championKey}
					img.champion-img(src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/"+championKey+".png")
		div.container-div.enemy-container
			each championKey, i in championKeyList
				div.champion-button
					div.champion-name #{championKey}
					img.champion-img(src="http://ddragon.leagueoflegends.com/cdn/6.17.1/img/champion/"+championKey+".png")
		div.container-div.recommended-container
